
.footer {
	background-color: @croner-black;
	border-top: 20px solid lighten(@croner-black, 10%);
	padding: 50px 0px;
	border-bottom: 75px dotted lighten(@croner-black, 2%);

	.logo-usach {

		width: 100%;
	}
}