
<div id="home">
	
	<img class="back-01 photo-full" src="/img/people.jpg" alt="">
	

	<div class="container smartphone">
		<div class="row smartphone">
			<div class="col-sm-7 text-right">
				<div class="title">
					<h1>Control de asistencia para smartphones</h1>
				</div>
			</div>
			<div class="col-sm-5">
				<img src="/img/smartphone.png" alt="">
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="container columnas">
		<div class="row">
			<div class="col-sm-4 text-center">
				<span class="glyphicon glyphicon-hand-up"></span>
				<h3>Control de asistencia del personal</h3>
				<p>Para empresas, organizaciones y grupos de todo tipo.</p>	
			</div>
			<div class="col-sm-4 text-center">
				<span class="glyphicon glyphicon-map-marker"></span>
				<h3>Ubicaci贸n GPS en horario laboral</h3>
				<p>Monitoreo de colaboradores mediante sistema GPS, durante la jornada laboral.</p>	
			</div>
			<div class="col-sm-4 text-center">
				<span class="glyphicon glyphicon-user"></span>
				<h3>Comunicaci贸n con RRHH</h3>
				<p>Comunicaci贸n coordinaci贸n entre la oficina de RRHH y los trabajadores.</p>	
			</div>
		</div>
	</div>

	<br>
	<hr>

	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="footer">
		
		<div class="container">
			
			<div class="row">
				<div class="col-md-2">
					<img class="logo-usach" src="/img/usach.png" alt="">
				</div>
				<div class="col-md-8">
					qwer
				</div>
			</div>

		</div>		

	</div>

</div>
