
<div id="home">
	
	<div>
		<img class="back-01 photo-full" src="/img/people.jpg" alt="">
	</div>
	

	<div class="container smartphone">
		<div class="row smartphone">
			<div class="col-sm-7 text-right">
				<div class="title">
					<h1>Control de asistencia para smartphones</h1>
				</div>
			</div>
			<div class="col-sm-5">
				<img src="/img/smartphone.png" alt="">
			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="container columnas">
		<div class="row">
			<div class="col-sm-4 text-center">
				<span class="glyphicon glyphicon-hand-up"></span>
				<h3>Control de asistencia del personal</h3>
				<p>Para empresas, organizaciones y grupos de todo tipo.</p>	
			</div>
			<div class="col-sm-4 text-center">
				<span class="glyphicon glyphicon-map-marker"></span>
				<h3>Ubicación GPS en horario laboral</h3>
				<p>Monitoreo de colaboradores mediante sistema GPS, durante la jornada laboral.</p>	
			</div>
			<div class="col-sm-4 text-center">
				<span class="glyphicon glyphicon-user"></span>
				<h3>Comunicación con RRHH</h3>
				<p>Comunicación coordinación entre la oficina de RRHH y los trabajadores.</p>	
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>

	<div class="footer">
		
		<div class="container">
			
			<div class="row">
				<div class="col-sm-2">
					<img class="photo-full" src="/img/usach.png" alt="">
				</div>
				<div class="col-sm-3">
					<h3>DEPARTAMENTO DE INFORMÁTICA</h3>
					<h4>UNIVERSIDAD DE SANTIAGO DE CHILE</h4>
					<h4>Facultad de Ingeniería</h4>
				</div>
				<div class="col-sm-5 text-right">
					<br>
					<p><b>PROYECTO DE INGENIERÍA INFORMÁTICA</b></p>
					<p>Javier Cáceres <br>	
					Mosheh-efra Landaeta <br>
					Mario López</p>
					
				</div>
				<div class="col-sm-2">
					<br>
					<br>
					<img class="photo-full" src="/img/youser-blanco.png" alt="">
				</div>
			</div>

		</div>		

	</div>

</div>
