<h1>Editing summary_attendance</h1>

<%= render 'form' %>

<%= link_to 'Show', @summary_attendance, :class => "bnt btn-link" %> |
<%= link_to 'Back', summary_attendances_path, :class => "btn btn-link" %>
