
<h2 class="page-title page-title-green">
  <span class="glyphicon glyphicon-list"></span>
  Resumen asistencia
</h2>

<br />
<div class="jumbotron">
  <h1>Generando resúmenes</h1>
  <p>En este momento se están generando los resúmenes asistenciales diarios para cada empleado.</p>
  <p>Esto podría tardar unos minutos... Por favor espere...</p>
</div>